html {
    font-size: 62.5%;
}

body {
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
    font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(50, 50, 50);
    background-color: #21222c;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 300;
}

h1 {
    font-size: 4.5rem;
    line-height: 1.2;
    letter-spacing: -.1rem;
    margin-bottom: 2rem;
}

h2 {
    font-size: 3.6rem;
    line-height: 1.25;
    letter-spacing: -.1rem;
    margin-bottom: 1.8rem;
    margin-top: 1.8rem;
}

h3 {
    font-size: 3.0rem;
    line-height: 1.3;
    letter-spacing: -.1rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

h4 {
    font-size: 2.6rem;
    line-height: 1.35;
    letter-spacing: -.08rem;
    margin-bottom: 1.2rem;
    margin-top: 1.2rem;
}

h5 {
    font-size: 2.2rem;
    line-height: 1.5;
    letter-spacing: -.05rem;
    margin-bottom: 0.6rem;
    margin-top: 0.6rem;
}

h6 {
    font-size: 2.0rem;
    line-height: 1.6;
    letter-spacing: 0;
    margin-bottom: 0.75rem;
    margin-top: 0.75rem;
}

p {
    margin-top: 0;
}

#stock-symbol {
    color: #aaaaaa !important;
}

.column {
    width: 100%;
    float: left;
    box-sizing: border-box;
    margin-left: 4%;
}

.column:first-child {
    margin-left: 0;
}

.one-half.column {
    width: 48%;
}

.Select--single > .Select-control {
    background-color: #282a36;
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.Select--single > .Select-control .Select-value .Select-value-label {
    color: #aaaaaa !important;
}

.Select-menu-outer {
    color: #282a36;
}

.app__container {
    margin: 3% 5%;
}

.app__header {
    display: flex;
    justify-content: space-between;
    color: #fff;
    margin-bottom: 4rem;
}

.app__header__title {
    letter-spacing: 0.23rem;
}

.app__selector {
    width: 48%;
}

.app__selector p {
    color: #fafafa;
}

.app__content {
    display: flex;
    margin-top: 20px;
}

.graph__title {
    background-color: #282a36;
    color: #fff !important;
    letter-spacing: 0.3rem !important;
    padding: 25px 25px 0px 25px;
    margin-bottom: 0px !important;
    font-size: 1em;
}
